[submodule "oh-my-zsh-custom/plugins/gulp-autocompletion-zsh"]
    path = oh-my-zsh-custom/plugins/gulp-autocompletion-zsh
    url = https://github.com/akoenig/gulp-autocompletion-zsh.git
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
    path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh-custom/plugins/gulp.plugin.zsh"]
    path = oh-my-zsh-custom/plugins/gulp.plugin.zsh
    url = https://github.com/akoenig/gulp.plugin.zsh.git
[submodule "oh-my-zsh-custom/plugins/zsh-wakatime"]
    path = oh-my-zsh-custom/plugins/zsh-wakatime
    url = https://github.com/wbinglee/zsh-wakatime.git
[submodule "oh-my-zsh-custom/plugins/zsh-autosuggestions"]
    path = oh-my-zsh-custom/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".tmux/plugins/tpm"]
    path = .tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
